includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - database/
        - routes/
        - resources/views

    level: 1

    ignoreErrors:

    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
